@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 190 22% 89%;
    --foreground: 194 87% 12%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@font-face {
  font-family: "OverusedRegular";
  src: local("OverusedGrotesk-Regular"), url("./fonts/OverusedGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedMedium";
  src: local("OverusedGrotesk-Medium"), url("./fonts/OverusedGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedBold";
  src: local("OverusedGrotesk-Bold"), url("./fonts/OverusedGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedLight";
  src: local("OverusedGrotesk-Light"), url("./fonts/OverusedGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedItalic";
  src: local("OverusedGrotesk-Italic"), url("./fonts/OverusedGrotesk-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedRoman";
  src: local("OverusedGrotesk-Roman"), url("./fonts/OverusedGrotesk-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedBook";
  src: local("OverusedGrotesk-Book"), url("./fonts/OverusedGrotesk-Book.ttf") format("truetype");
}

@font-face{
  font-family: "OverusedBlack";
  src: local("OverusedGrotesk-Black"), url("./fonts/OverusedGrotesk-Black.ttf") format("truetype");
}

@font-face {
  font-family: "OverusedSemiBoldItalic";
  src: local("OverusedGrotesk-SemiBoldItalic"), url("./fonts/OverusedGrotesk-SemiBoldItalic.ttf") format("truetype");
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground cursor-none;
  }
  a{
    @apply cursor-none hover:cursor-none ;
  }
}

.AfterIMG::after {
  @apply absolute w-full h-full top-0 right-0 bg-background;
}

.column:nth-of-type(1){
  top: -15%;
}

.column:nth-of-type(2){
  top: -5%;
}

.column:nth-of-type(3){
  top: -20%;
}

.column:nth-of-type(4){
  top: -10%;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: hsl(193, 29%, 94%);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--background);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: hsl(194 87% 12%);
}